package-manager=pnpm
registry=https://registry.npmmirror.com
@imf:registry=http://maven.jinuo.me/repository/jinuo-npm-inner
public-hoist-pattern[]=*@nextui-org/*
public-hoist-pattern[]=*eslint-plugin-*
public-hoist-pattern[]=@typescript-eslint/eslint-plugin
